@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.head {
  width: 100%;
}

.header {
  width: 100%;
  height: 72px;
  background: white;
  position: fixed;
  z-index: 2;
}

#header {
  box-shadow: 1px 1px 5px 1px silver;
}

#text {
  position: relative;
  top: 160px;
  margin-left: 81.36px;
  width: 1260px;
  border: none;
  border-bottom: 1px solid silver;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(98, 98, 98, 1);
}

#restaurant {
  margin-left: 81.36px;
  position: relative;
  top: 230px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

#rest-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 250px;
  padding-left: 81px;
  gap: 40px;
}

#rest-block-img {
  height: 366px;
}

#rest-block-img h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
#rest-block-img p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(98, 98, 98, 1);
}

.logo {
  text-align: center;
  position: relative;
  left: -578.38px;
  top: 25px;
  transition: 1s;
}

.logo:hover {
  transform: scale(1.4);
}

.submit {
  position: relative;
  width: 78px;
  height: 40px;
  bottom: 5px;
  left: 1200px;
}

.sub {
  width: 78px;
  height: 40px;
  background: white;
  border: 1px solid rgb(228, 220, 220);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.logo-2 {
  position: relative;
  left: 1320px;
  bottom: 38px;
}

.foto {
  position: relative;
  top: 72px;
}

.block-foto {
  position: relative;
  width: 400px;
  height: 204px;
  bottom: 360px;
  left: 81px;
  background-color: white;
  text-align: center;
}

.block-foto h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  padding: 30px  
}

.block-foto p {
  position: relative;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(98, 98, 98, 1);
  left: 42px;
  top: 20px;
}

.min {
  position: relative;
  background: black;
  width: 100px;
  height: 30px;
  left: 257px;
  bottom: 20px;
  border-radius: 100px 100px;
  color: white;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.category {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid rgba(63, 62, 62, 0.418);
  display: flex;
  position: relative;
  bottom: 165px;
  padding-left: 81px;
  padding-top: 25px;
  gap: 50px;
}

.category-name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color:rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}

.category-name:hover {
  color:rgba(50, 116, 48, 1); 
  cursor: pointer;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}

#category-name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color:rgba(50, 116, 48, 1);
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;  
}

#category-name:hover {
  color:rgba(50, 116, 48, 1); 
  cursor: pointer;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}

.zakuski {
  position: relative;
  bottom: 186px;
  padding-left: 81px;
}

.z {
  position: relative;
  top: 64px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;  
}

.blocks-zakuski {
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.list {
  border: 1px solid rgba(82, 81, 81, 0.233);
  width: 550px;
  height: 160px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1px;
  padding-left: 20px;
}

.list p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;  
  color: rgba(98, 98, 98, 1);
}

.list-img {
  position: relative;
  left: 350px;
  bottom: 72.5px;
  transition: 1s;
}

.list-img:hover {
  transform: scale(1.2);
  border-radius: 30px 30px;
}

.list-img-1 {
  position: relative;
  left: 350px;
  bottom: 38.5px;
  transition: 1s;
}

.list-img-1:hover {
  transform: scale(1.2);
  border-radius: 30px 30px;
}

.list-h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  bottom: 130px;
}

.list-1-h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  bottom: 96px;
}

.list:hover {
  background: rgba(117, 117, 117, 0.2);
  cursor: pointer;
}

.footer {
  background:rgba(38, 38, 38, 1);
  padding-left: 81.36px;
  padding-right: 81.36px;
}

.footer-img {
  padding-top: 70px;
  padding-bottom: 40px;
  filter: grayscale(1); /* Черно-белый фильтр для изображения */
  transition: 1s; /* Время изменения цвета изображения */
}

.footer-img:hover {
  filter: grayscale(0); /* Цветное изображение при наведении */
}

hr {
  height: 1px;
  background-color: #555555;
  border: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: 500px 1fr;
  margin-bottom: 50px;
}

select {
  height: 40px;
  width: 227px;
  background: rgba(59, 59, 59, 1);
  color: white;
  margin-top: 50px;
  margin-left: 5px;
}

.footer-grid h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 50px;
  margin-left: 5px;
  color: white;
}

.footer-grid h2::first-letter {
  color: rgba(73, 161, 68, 1);
}

.social {
  margin-left: 5px;
  word-spacing: 15px;
}

.social img {
  transition: 1s;
}

.social img:hover {
  transform: rotate(360deg);
}

.footer-end {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: white;
  position: relative;
  cursor: pointer;
  text-decoration: none;  
}

.footer-end a{
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.footer-end a:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: white; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
}

.footer-end a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: rgba(73, 161, 68, 1); /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;  /* Время эффекта */
}

.reference {
  text-align: center;
  margin-top: 50px;
  word-spacing: 50px;
  margin-bottom: 50px;
}

.ref-img {
  transition: 1s;
}

.ref-img:hover {
  transform: scale(1.2);
}

.end {
  display: flex;
  gap: 200px;  
}

.end h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  color: white;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.end h3:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: white; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
}

.end h3:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: rgba(73, 161, 68, 1); /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;  /* Время эффекта */
}

.ref-up {
  position: fixed;
  bottom: 50px;
  left: 1250px;
}

#ref-up {
  transition: 1s;
}

#ref-up:hover {
  transform: rotate(360deg);
  border-radius: 100px 100px;
}